<!DOCTYPE html>
<html lang="cn" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>补番目录</title>
    <style>

    </style>

</head>
<body>
<div id="app">

    番剧名:<input type="text" v-model="searchCondition.name"/><span>{{searchCondition.category}}</span>&nbsp;
    观看状态:<input type="text" v-model="searchCondition.condition"/><span>{{searchCondition.state}}</span>&nbsp;
    <button v-on:click="search">搜索</button>
    <button v-on:click="reset">重置</button>
    <hr>
    <table border="5px solid" colspa="0" cellspacing="0">
        <tr>
            <th>收录顺序</th>
            <th>番名</th>
            <th>放送时间</th>
            <th>Bangumi评分</th>
            <th>剧集</th>
            <th>状态</th>
        </tr>
        <!--哪个元素出现多次,v-for就添加在哪个元素上-->
        <tr v-for="(anime,index) in animeList">
            <td>{{anime.id}}</td>
            <td>{{anime.name}}</td>
            <td>{{anime.date}}</td>
            <td>{{anime.bangumiScore}}</td>
            <td>{{anime.episode}}</td>
            <td>{{anime.condition}}</td>
        </tr>
    </table>
</div>

<!-- 导入axios的js文件 -->
<!-- <script src="https://unpkg.com/axios/dist/axios/min/js"></script> -->
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<!--引入vue模块-->
<script type="module">
    import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
    /*创建vue应用实例*/
    createApp({
        data(){
            return{
                animeList:[],
                searchCondition:{
                    name:'',
                    condition:''
                }
            }
        },
        methods:{
            reset:function(){
                //在methods对应的方法里面,使用this就代表vue实例,可以使用this获取到vue实例中准备的数据
                this.searchCondition.name=''
                this.searchCondition.condition=''
                console.log("vue挂载完毕,发送请求数据")
                //发送异步请求 axios
                axios.get('http://localhost:8081/anime/getAll').then(result=>{
                    //成功回调
                    console.log(result.data.data.rows);
                    this.animeList=result.data.data.rows;
                }).catch(err=>{
                    //失败回调
                    console.log(err);
                })
            },
            search:function(){
                //发送请求，完成搜索，携带搜索条件
                axios.get('http://localhost:8081/anime/search?name='+this.searchCondition.name)
                    .then(result=>{
                        //成功回调result.data
                        //把得到的数据赋值给articleList
                        this.animeList=result.data.data.rows
                    }).catch(err=>{
                    cosole.log(err)
                })
            }
        },
        //钩子函数mounted中,获取所有文章数据
        mounted:function(){
            console.log("vue挂载完毕,发送请求数据")
            //发送异步请求 axios
            axios.get('http://localhost:8081/anime/getAll').then(result=>{
                //成功回调
                console.log(result.data.data.rows);
                this.animeList=result.data.data.rows;
            }).catch(err=>{
                //失败回调
                console.log(err);
            })
        }
    }).mount('#app')
</script>
</body>
</html>