<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hu.news.mapper.AnimeMapper">
    <select id="search" resultType="hu.news.pojo.Anime">
        select *
        from unwatched
        <where>
            <if test="name  != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
        </where>
    </select>

    <select id="getAllWatched" resultType="hu.news.pojo.AnimeWatched">
        select * from ${table}
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
        </where>
    </select>


</mapper>